In [4]:
# (예시) train_model.py

import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()
DB_DIR = os.environ.get("DIR_PATH") 
LIST_PATH = f"{DB_DIR}/russell_3000_list.parquet"
FEATURE_PATH = f"{DB_DIR}/indicators.parquet"
OHLCV_PATH = f"{DB_DIR}/ohlcv.parquet"

print("Loading feature map from Parquet...")
# 1400만 행 데이터도 몇 초 안에 로드됩니다.
df = pd.read_parquet(OHLCV_PATH)

Loading feature map from Parquet...

In [5]:
df.head()

        date ticker      open      high       low     close    volume
0 1962-01-02     AA  1.479799  1.488287  1.479799  1.479799   55930.0
1 1962-01-02    AEP  0.908272  0.929779  0.908272  0.908272    5800.0
2 1962-01-02     BA  0.194272  0.194272  0.190931  0.190931  352350.0
3 1962-01-02    CAT  0.464297  0.468819  0.459774  0.464297  163200.0
4 1962-01-02    CNP  0.287279  0.289462  0.287279  0.287279   13879.0

In [ ]:
def factorialcps(n, k):
    if n==1: return k(1)
    else: return factorialcps(n-1, lambda v: k(n*v))

factorialcps(5, print)

120